<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Product: {{prodTech.name}}
      </ion-card-title>
      <ion-card-title>Description:
        {{prodTech.description}}.
      </ion-card-title>
      <ion-card-title>
        Value: {{prodTech.price}} €.
      </ion-card-title>
      <ion-card-title>
        State: {{prodTech.state}}.
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
