
<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{motor.type}}: {{motor.name}}
      </ion-card-title>
      <ion-card-title>
        Description:
        {{motor.description}}.
      </ion-card-title>
      <ion-card-title>
        Value: {{motor.price}} €.
      </ion-card-title>
      <ion-card-title>
        Year: {{motor.year}}.
      </ion-card-title>
      <ion-card-title>
        Kilometers: {{motor.km}} km
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

