<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Location: {{house.location}}</ion-card-title>
      <ion-card-title>Description:
        {{house.description}}</ion-card-title>
      <ion-card-title>
        Sqare meters: {{house.sqareMeters}}m2.</ion-card-title>
      <ion-card-title>Location: {{house.location}}</ion-card-title>
      <ion-card-title>Bathroom and rooms: {{house.bathAndRooms}}.</ion-card-title>
      <ion-card-title>Type: {{house.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
